body {
    font-family: 'Sofia Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fde6ea; 
}
.header {
    background-color: #FDE6EA; 
    color: #397c81;
    padding: 20px 30px;
height: 70px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: sticky;
    top: 0;
    z-index: 100000;
    background-color:rgba(255, 255, 255, 0.6);
}
.logo{
    flex-direction:column;
    align-items: center;
    margin-left: 20px;
    text-align: left;
}
.header-log{
   display: flex;
    align-items: center;
}
.logo img{
    object-fit: cover;
}
.luffy {
    font-family: 'Sacramento', cursive;
    font-size: 28px;
    color: #5db3b3;
    padding-top: 12px;

}
.tagline {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 15px;
    color: #5db3b3;
    padding-bottom: 12px;
}
.nav {
    display: flex;
    gap: 70px; 
    align-items: center; 
    justify-content: flex-end; 
}
.nav a {
    color: #397c81;
    text-decoration: none;
    font-size: 20px;
    font-weight: regular;
}
.nav a:hover {
    color: #5db3b3;
}
.order-link {
    background-color: #5db3b3; 
    padding: 10px 20px 10px 48px;
    border-radius: 20px;
    text-decoration: none;
    display:flex;
    align-items: center;
    gap: 12px;
    padding: 10px 24px;
    height: 22px;
}
.order-link:hover {
    background-color:#397c81 ;
    transform: translateY(-5px); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.15); 
}
.order-icon{
    filter: brightness(0) invert(1);
}
.hero {
    background-color: #fde6ea; 
    text-align: center;
     background-image: url('main.jpg');
    position: relative;
    background-size: cover;
    background-position:  center ;
    z-index: 0;
    padding-bottom: 100px;
}
.hero::before{
    content :"";
    position: absolute;
   inset: 0;
    background-color:rgba(255, 255, 255, 0.9);
    z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 320px;

}
.hero-content h1 {
    font-size: 56px;
    font-weight: bold;
    color:#397c81;
}

.hero-content .blue {
    color: #397c81;
}

.hero-content .pink {
    color: #e74c70;
}

.hero-content p {
    font-size: 21px;
    color: #397c81;
}

.quick-info {
    display: flex;
    justify-content:center;
    gap: 120px;
    margin-bottom:60px ;
    padding:0 40px;
    z-index:2;
}

.info-item {
    text-align: center;
    font-family: 'Marker Felt', cursive;
    width: 150px;
    z-index:2;
}

.info-item h3 {
    font-size: 22px;
    color: #397c81;
}

.info-item p {
    font-size: 18px;
    color: #397c81;
}
.hero-image{
    width: 100%;
}
.hero-photo-frame{
    display: flex;
    justify-content: center;
    padding-left:90px;
    padding-right: 90px;
    z-index: 2;
}
.hero-photo-frame img{
    border-radius: 20px;
    object-fit: cover;
    z-index: 2;
    max-width: 100%;
margin: 0 auto;

}
.hero-photo-frame{
    position: relative;
    overflow: visible;
}
.ai-photo{
    position: absolute;
    left: 12px;
    bottom: 12px;
width: 200px;
height: 56px;
background-color: white;
border-radius: 20px;
display: flex;
align-items: center;
gap: 10px;
padding: 7px 10px;
box-sizing: border-box;
z-index: 3;
margin-left: 300px;
top: 380px;

}
.ai-photo-img{
    border-radius: 20px;
    object-fit: cover;
    flex:0 0 auto;
margin-left: auto;
}
.ai-photo-text{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    gap: 4px;
}
.ai-title{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:#397c81;
    margin: 0 0 4px 0;
    display: flex;
    flex-direction: row;
}
.ai-subtitle{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 15px;
    font-weight: regular;
    color:#397c81;
    margin: 0 ;
    display: flex;
    flex-direction: row;
}
.burger-menu {
    display: none;
    cursor: pointer;
}
#menu-toggle {
    opacity: 0;
}
.menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 100;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #397c81;
    transition: all 0.3s ease;
}
.menu-btn > span::before {
    content: "";
    top: -8px;
}
.menu-btn > span::after {
    content: "";
    top: 8px;
}
#menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
.menu-box {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #FDE6EA;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 50;
    padding-top: 100px; 
}
.menu-box li {
    list-style: none;
    margin: 20px 0;
    text-align: center;
}
.menu-box a {
    color: #397c81;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s;
}
.menu-box a:hover {
    color: #5db3b3;
}
#menu-toggle:checked ~ .menu-box {
    transform: translateX(0);
}
@media (max-width: 1000px) {
    .header-log{
    padding-right: 120px;
    }
    .hero-content{
         padding: 40px 50px;
    }
    .nav {
        display: none; 
    }
    .ai-photo{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 12px;
    }
    .burger-menu {
        display: block;
    }
    .menu-btn {
        top: 40px;
        right: 15px;
        width: 30px;
        height: 30px;
    }
    .menu-box {
        width: 250px;
    }

    .menu-box a {
        font-size: 18px;
    } 
}
.about {
    background-color: white; 
    padding: 80px 60px;
    text-align: center;
}

.about-title {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #33666b;
    margin-bottom: 40px;
}
.about-subtitle {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #33666b;
}

.about-text {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 21px;
    color: #33666b;
    font-weight: 400;
    padding-left: 60px;
    padding-right: 60px;
}
.about-text .highlight {
    color: #e74c70;
}
.about-img{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.about-img img{
    border-radius: 20px;
    object-fit: cover;
}
.catalog {
    background-color: #fde6ea;
    padding: 80px 90px; 
    text-align: center;
}
.catalog-title {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #33666b;

}
.catalog-subtitle {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 21px;
    color: #33666b;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
}
.catalog-subtitle .highlight {
    color: #e74c70;
}

.catalog-items {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 40px; 
}
.catalog-item {
    background-color: #ffffff;
    width: 336px; 
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    padding:0;
    display: flex;
    flex-direction: column;
}
.catalog-item:hover {
    background-color: #FEF2F4; 
    transform: translateY(-5px); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.15); 
}
.catalog-photo{
    width: 100%;
    height: 155px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    flex: 0 0 155px;
    position: relative;
}
.catalog-photo img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.color-label {
    position: absolute;
    right: 12px;
    bottom: 8px;
    width: 118px;
    height: 30px;
    background-color: #fde6ea;
    border-radius: 20px;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 12px;
    color: #315559;
    display: flex;
    justify-content: center;
    z-index: 10;
}
.flower-name {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #315559;
    margin: 0 0 5px 0;
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
}
.flower-desc {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 13px;
    color: #315559;
    margin: 0 0 25px 0;
    text-align: left;
    margin-left: 15px;
}
.flower-price {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #315559;
    margin:0;
    text-align:left;
    margin-left: 15px;
    margin-bottom: 15px;
}
@media (max-width: 900px) {
    .about-img img{
        width: 60vw;
        height: auto;
    }
    .catalog{
    }
    .catalog-items {
        gap: 40px;
        max-width: 100%;
        justify-content: center;
    }
    .color-label {
        right: 10px;
        bottom: 8px;
    }
    .flower-name{
        font-size: 20px;
    }
    .flower-desc{
        font-size: 13px;
    }
    .flower-price{
        font-size: 15px;
    }
    .catalog-item {
        width: 100%;
        max-width: 400px;

    }
    .catalog-photo{
        height: auto;
        max-height: 220px;

    }
    .catalog-photo img{
        object-fit: cover;
    }
}
.delivery { 
    position: relative;
    padding:80px 90px; 
    background:#fde6ea; 
    box-sizing:border-box; 
    text-align:center; 
    box-sizing: border-box;

}
.delivery-video{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:40%;
    margin-bottom: auto;
    object-fit: cover;
    z-index:0;
    opacity: 0.3;
}
.delivery-title{ 
    font-family:'Sofia Sans',sans-serif;
     font-size:45px; 
     font-weight:700;
      color:#315559;
       margin:0 0 10px; 
   }
.delivery-subtitle{ 
    font-family:'Sofia Sans',sans-serif;
     font-size:21px; 
     font-weight:400;
      color:#315559;
       margin:0 0 40px; 
   }
.delivery-columns{
  display:flex;
   gap:60px;  
  align-items:flex-start;
  justify-content:flex-start;
  width: 100%;
  box-sizing: border-box;
}
.zones{ 
    width:452px; 
    text-align:center; 
}
.zones-title{
  font-family:'Sofia Sans',sans-serif;
  font-size:28px;
   font-weight:700;
  color:#315559; 
  margin:0 0 18px ;
}
.zone-list{
  display:flex; 
  flex-direction:column; 
  gap:35px;  
  text-align: left;
}
.zone-item{
  width:452px;
   height:53px;
    background:#fff; 
    border-radius:20px;
  display:flex;
   align-items:center; 
   justify-content:space-between;
  box-sizing:border-box; 
  padding:0 18px ;
}

.zone-left{ 
    display:flex; 
    flex-direction:column; 
    align-items:flex-start;
 }
.zone-point{
  font-family:'Sofia Sans',sans-serif;
   font-size:20px;
    font-weight:700;
  color:#397c81; 
   margin-bottom:2px;
}
.zone-time{
  font-family:'Sofia Sans',sans-serif;
   font-size:10px;
    font-weight:400;
  color:#397c81; 
}
.zone-price{
  font-family:'Sofia Sans',sans-serif;
   font-size:18px;
    font-weight:700;
  color:#192f33;
}
.how{
 flex:1 1 auto;
 min-width:738px;
 text-align:center;
 padding-right:0;
display: flex;
box-sizing: border-box;
flex-direction: column;
}
.how-title{
  font-family:'Sofia Sans',sans-serif;
  font-size:28px;
   font-weight:700;
    color:#315559;
  text-align:center;
   margin:0 0 18px ;
  
}
.how-grid{
  display:grid;
  grid-template-columns:354px 354px;
  grid-auto-rows:224px;
  gap:30px;
}
.how-card{
  background:#fff;
   border-radius:20px;
  display:flex;
   flex-direction:column; 
   align-items:center;
  justify-content:flex-start;
   padding:24px; 
   box-sizing:border-box;
}
.how-card-icon{
    margin:0 auto 8px;
}
.how-card-title{
  font-family:'Sofia Sans',sans-serif;
  font-size:20px;
  font-weight:700;
  color:#315559; 
  margin: 6px 0 8px;
}
.how-card-subtitle{
  font-family:'Sofia Sans',sans-serif;
  font-size:14px; 
  font-weight:400; 
  color:#315559; 
  text-align:center;
  margin:0 0 10px;
}
.how-footer{
 margin-top:auto; 
 width:100%; 
 display:flex; 
 flex-direction:column; 
 align-items:center; 
 padding-bottom:4px; }
.how-timing{
  width:117px; 
  height:28px; 
  background:#f7aab9; 
  border-radius:20px;
  display:flex; 
  align-items:center; 
  justify-content:center; 
  margin:6px 0 6px 0;
}
.how-timing span{
  font-family:'Sofia Sans',sans-serif; 
  font-size:12px; 
  font-weight:600;  
  color:#315559; 
}
.extra-title{
   font-family: 'Sofia Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #315559;
    text-align: center;
    padding-top: 50px;
}   

.extra-wrap{
  display: grid;
    align-items: stretch;
    text-align: left;
    padding-top: 25px;
}
.extra-col{
 width: 100%; 
 display: flex;
 flex-direction: column;
}
.extra-block{ 
    margin-bottom:18px;
 }
.extra-label{
   font-family: 'Sofia Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #192f33;
  margin: 0 0 6px;
}
.extra-text{
 font-family: 'Sofia Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #192f33;
}
@media (max-width:1400px){
  .delivery-columns{ 
    flex-direction:column; 
    gap:40px;
 }
  .zones{ 
    width:100%;
}
  .zone-item{
   width:100%; 
}
  .how{
   min-width:0; 
    width: 100%;
    align-items: center;    
}
.how-title{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  .how-grid{ 
    display: grid;
    grid-template-columns:50% 50%; 
    gap: 16px;
    width: 100%;
    max-width: 738px;
    justify-content:center;
    margin: 0 auto;
}
.how-card {
    width: 100%;
    max-width: 738px;                
    padding: 18px;
  }
  .how-footer {
    margin-top: auto;
    width: 100%;
    align-items: center;
    padding-bottom: 6px;
  }
.delivery-video{
    height:27%;
}
}
  .extra-wrap{
    grid-template-columns: 1fr;
    justify-items: center;
   row-gap: 20px;
   text-align: center;
   width: 100%;
}
.extra-title{
    text-align: center;
    margin: 40px 0 16px;

}
  .extra-col {
    justify-content: flex-start;
    width: 100%;
    max-width: 600px;
    align-items: center;
  }
}

@media (max-width:900px){
  .delivery{
   padding:60px 20px; 
}
}
.order {
    background-color: white;
    padding: 80px 20px 60px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-title {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #315559;
    margin-bottom: 20px;
}
.order-subtitle {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 23px;
    font-weight: regular;
    color: #315559;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
}
@media (max-width: 768px) {
    .order {
        padding: 60px 20px;
    }
}
.footer{
    background-color: #f7aab9;
    width: 100%;
    padding: 40px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
}
.footer-menu{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    margin-bottom: 20px;
margin-right: 10px;
}
.footer-menu h3{
    font-family: 'Sofia Sans',sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #315559;
    margin-bottom:5px;

}
.footer-menu ul{
    list-style: none;
   padding:0;
   margin: 0;
}
.footer-menu ul li{
    font-family: 'Sofia Sans',sans-serif;
  font-size: 18px;
  color: #315559;
  margin-bottom: 6px;
}
.footer-catalog {
    margin-left: 0;
  margin-right: auto;
    text-align: left;
    padding-left: 0;
}
.footer-catalog-gen{
    display: flex;
    flex-direction:row;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer-catalog h3{
    font-family: 'Sofia Sans',sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #315559;
    margin-bottom: 10px;
    text-align: left;
}
.footer-catalog-left,
.footer-catalog-right{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    text-align: left;
}
.footer-catalog-right{
margin-left:40px }
.footer-catalog-left span,
.footer-catalog-right span{
    font-family: 'Sofia Sans',sans-serif;
    font-size: 18px;
    color: #315559;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: auto;
}
.footer-contact ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-contact ul li{
    font-family: 'Sofia Sans',sans-serif;
    font-size: 18px;
    color: #315559;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    word-wrap: break-word;

}
@media(max-width:900px) {
    .footer{
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 20px;

    }
    .footer-catalog .footer-catalog-gen{
        gap:6px 24px;
    }
    .footer-contact{
        margin-top: 28px;
        padding-top: 18px;
    }
    .footer-menu,.footer-catalog{
        max-width: 50%;
    }
    .footer-contact{
        max-width: 100%;
    }
}
.nowrap{
    white-space: nowrap;
}
.nowrap-footer{
    white-space: nowrap;
}
.contact-form { 
    background: #FDE6EA;
    border-radius: 20px;
    padding: 30px 40px;
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.form-title {
    font-family: 'Anonymous Pro', monospace;
    font-size: 28px;
    font-weight: bold;
    color: #315559;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 18px;
    border: none;
}

.form-group input,
.form-group textarea {
    width: 98%;
    height: 71px;
    margin: 0 auto;
    background: white;
    border-radius: 20px;
    border: none;
    padding-left: 22px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    color: #315559;
    box-sizing: border-box;
}
.form-group textarea {
    height: 110px;
    padding-top: 15px;
    resize: none;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #315559;
    opacity: 0.85;
}
.checkbox-group {
    border: none;
}
.checkbox-group label {
    font-family: 'Anonymous Pro', monospace;
    font-size: 18px;
    color: #315559;
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
.checkbox-group input {
    width: 20px;
    height: 20px;
}
.submit-btn {
    width: 359px;
    height: 78px;
    background: white;
    border-radius: 20px;
    border: none;
    font-family: 'Anonymous Pro', monospace;
    font-size: 23px;
    font-weight: bold;
    color: #315559;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    margin: 0 auto;
    margin-top: 20px;
}

.submit-btn:hover {
    background:#fad1d9;
}
.send-icon {
    width: 25px;
    height: 25px;
}
@media (max-width: 1200px) {
   .contact-form {
        width: 90%;
        padding: 20px;
        height: auto;
        margin: 0 auto;
    }
    .form-title {
        font-size: 22px;
        text-align: center;
    }
    .form-group input,
    .form-group textarea {
        width: 100%;
        height: 55px;
        font-size: 16px;
        padding-left: 15px;
    }
    .form-group textarea {
        height: 100px;
    }

    .checkbox-group label {
        font-size: 16px;
    }

    .submit-btn {
        width: 100%;
        height: 65px;
        font-size: 20px;
        gap: 10px;
        margin-top: 15px;
    }
    .send-icon {
        width: 22px;
        height: 22px;
    }
}